wintel/
*.mp4
*.avi
*.mov
*.mkv
*.wav


### AI agents
.adal                                                                                                                                                                             
.agents                                                                                                                                                                           
.aider-desk                                                                                                                                                                       
.augment                                                                                                                                                                          
.autohand                                                                                                                                                                         
.bob                                                                                                                                                                              
.claude                                                                                                                                                                           
.codeartsdoer                                                                                                                                                                     
.codebuddy                                                                                                                                                                        
.codemaker                                                                                                                                                                        
.codestudio                                                                                                                                                                       
.commandcode                                                                                                                                                                      
.continue                                                                                                                                                                         
.cortex                                                                                                                                                                           
.crush                                                                                                                                                                            
.devin                                                                                                                                                                            
.forge                                                                                                                                                                            
.fx                                                                                                                                                                               
.goose                                                                                                                                                                            
.grok                                                                                                                                                                             
.hermes                                                                                                                                                                           
.iflow                                                                                                                                                                            
.inferencesh                                                                                                                                                                      
.jazz                                                                                                                                                                             
.junie                                                                                                                                                                            
.kimchi                                                                                                                                                                           
.kiro                                                                                                                                                                             
.kode                                                                                                                                                                             
.lingma                                                                                                                                                                           
.mcpjam                                                                                                                                                                           
.minimax                                                                                                                                                                          
.moxby                                                                                                                                                                            
.mux                                                                                                                                                                              
.neovate                                                                                                                                                                          
.ona                                                                                                                                                                              
.openhands                                                                                                                                                                        
.pi                                                                                                                                                                               
.pochi                                                                                                                                                                            
.posit                                                                                                                                                                            
.qoder                                                                                                                                                                            
.qwen                                                                                                                                                                             
.reasonix                                                                                                                                                                         
.roo                                                                                                                                                                              
.rovodev                                                                                                                                                                          
.tabnine                                                                                                                                                                          
.terramind                                                                                                                                                                        
.tinycloud                                                                                                                                                                        
.trae                                                                                                                                                                             
.vibe                                                                                                                                                                             
.windsurf                                                                                                                                                                         
.zcode                                                                                                                                                                            
.zencoder 
skills-lock.json
skills/*
openai.yaml
*.sh
*.cjs
data/*

t800.cpython*